.dcs-1b463782-0 {cursor:pointer;color:blue}
.dcs-1b463782-1 {background-color:#edf2f7;border:2px dashed #cbd5e0;width:100%;height:100%}
.dcs-b308e454-0 {padding:4px;cursor:pointer}
.dcs-b308e454-0:active {background:#00000030}
.dcs-50305fc2-0 {flex-direction:row;flex-grow:1}
.dcs-6e53eb54-0 {cursor:pointer}
.dcs-eef822cd-0 {position:fixed;left:0px;top:0px}
.dcs-eef822cd-1 {width:1em;height:100vh;background:rgba(0,0,0,0);border-right-width:1px;border-right-style:solid;border-right-color:#00000033;transition:background .7s linear, width 0s .7s, height 0s .7s}
.dcs-eef822cd-2 {position:fixed;right:0px;top:0px;width:1em;height:100vh;background:rgba(0,0,0,0);border-left-width:1px;border-left-style:solid;border-left-color:#00000033}
.dcs-eef822cd-3 {width:100vw;height:120vh;background:rgba(0,0,0,.6);transition:background .7s linear}
.dcs-eef822cd-4 {position:fixed;top:0px;width:300px;min-width:200px;height:100vh;background:white;border-right-style:solid;border-right-width:2px;border-right-color:black;box-shadow:.25em 0 .5em 0 rgba(0,0,0,0.50)}
.dcs-eef822cd-5 {overflow:auto;height:calc(100vh - 120px)}
.dcs-eef822cd-6 {left:-300px;transition:left .5s ease-in-out}
.dcs-eef822cd-7 {left:0px;transition:left .5s ease-in-out}
.dcs-eef822cd-8 {left:0px}
.dcs-eef822cd-9 {left:-300px}
.dcs-eef822cd-10 {min-width:50px;min-height:50px;width:50px;height:50px;margin-right:0.5em;margin-left:0.5em;display:flex;justify-content:center;align-items:center}
.dcs-eef822cd-11 {display:flex;border-bottom-width:1px;border-bottom-color:#000000;border-bottom-style:solid;flex-direction:row;justify-content:flex-start;align-items:center;width:100%;height:60px}
.dcs-eef822cd-12 {height:45px}
.dcs-eef822cd-13 {display:flex;border-bottom-width:1px;border-bottom-color:#000000;border-bottom-style:solid;flex-direction:row;justify-content:flex-start;align-items:center;width:100%;height:120px;background:linear-gradient(#08B214, #078C12)}
.dcs-eef822cd-11:hover {background-image:linear-gradient(#BCBCBC, #5E5E5E)}
.dcs-eef822cd-11:active {background-image:linear-gradient(#5E5E5E, #BCBCBC)}
.dcs-e3dda9fe-0 {display:inline-flex;flex-wrap:nowrap;max-width:100%;min-width:0;align-items:baseline}
.dcs-e3dda9fe-1 {flex:0 1 auto;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.dcs-e3dda9fe-2 {flex:1 0 auto;white-space:nowrap}
.dcs-e3dda9fe-3 {cursor:pointer;color:blue}
.dcs-bbed1375-0 {}
.dcs-bbed1375-1 {padding-top:.25em}
.dcs-bbed1375-2 {display:flex;flex-direction:row;align-items:center}
.dcs-bbed1375-3 {display:flex;flex-direction:column}
.dcs-bbed1375-4 {}
.dcs-bbed1375-5 {padding-left:20px}
.dcs-bbed1375-6 {margin-left:.5em;flex-grow:1}
.dcs-bbed1375-7 {margin-left:1em;margin-right:1em;cursor:pointer}
.dcs-bbed1375-8 {background:#00FF0022;font-weight:bold}
.dcs-bbed1375-9 {height:33vh;min-height:64px}
.dcs-bbed1375-2:hover {background:#0000FF22}
.dcs-f440542e-0 {position:fixed;top:0;left:0;background:rgba(0,0,0,0.4);width:100vw;height:120vh;z-index:1000}
.dcs-f440542e-1 {position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);background:white;width:50vw;min-width:10em;box-shadow:.5em .5em .5em 0 rgba(0,0,0,0.50);background-color:#D5D5D5;z-index:1000}
.dcs-f440542e-2 {display:block}
.dcs-f440542e-3 {display:none}
.dcs-f440542e-4 {border-color:#646464;border-style:solid;border-width:1px;padding:1em;background-image:linear-gradient(#D5D5D5, #7F7F7F);text-align:center}
.dcs-f440542e-4:hover {background-image:linear-gradient(#BCBCBC, #5E5E5E)}
.dcs-f440542e-4:active {background-image:linear-gradient(#5E5E5E, #BCBCBC)}
.dcs-b0bc04f9-0 {text-align:center;position:sticky;background:#0cb51a;top:0;left:0;right:0;min-height:16px;box-shadow:0 .25em .5em 0 rgba(0,0,0,0.50)}
.dcs-b0bc04f9-1 {text-align:center;position:fixed;background:#0cb51a;bottom:0;left:0;right:0;min-height:32px}
.dcs-b0bc04f9-2 {display:flex;flex-direction:column;justify-content:flex-start;align-items:center}
.dcs-b0bc04f9-3 {display:flex;flex-direction:row;justify-content:flex-start;align-items:center;width:100%;background-image:linear-gradient(#08B214, #078C12);border-bottom:solid 1px black}
.dcs-b0bc04f9-4 {display:flex;flex-direction:row;padding-left:1em;padding-right:1em;align-items:center}
.dcs-b0bc04f9-5 {display:flex;flex-direction:row;justify-content:flex-end;align-items:center;width:100%;background-image:linear-gradient(#08B214, #078C12);border-bottom:solid 1px black}
.dcs-b0bc04f9-6 {display:flex;flex-direction:row;padding-left:1em;padding-right:1em;justify-content:flex-end}
.dcs-b0bc04f9-7 {display:flex;flex-direction:row;padding-left:1em;padding-right:1em;justify-content:space-evenly;width:100%}
.dcs-b0bc04f9-8 {display:block;flex-direction:row;width:100%}
.dcs-b0bc04f9-9 {display:flex;align-items:center;justify-content:center;padding-left:1em;padding-right:1em;width:calc(100% - 2em)}
.dcs-b0bc04f9-10 {height:32px;line-height:32px}
.dcs-b0bc04f9-11 {justify-content:flex-start;align-items:center}
.dcs-b0bc04f9-12 {justify-content:center;align-items:center}
.dcs-b0bc04f9-13 {flex-grow:1}
.dcs-b0bc04f9-14 {width:1em}
.dcs-c2096b8d-0 {position:relative;display:inline-block;width:60px;height:34px}
.dcs-c2096b8d-1 {opacity:0;width:0;height:0}
.dcs-c2096b8d-2 {position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;transition:.4s;border-radius:34px}
.dcs-c2096b8d-1:checked + .dcs-c2096b8d-2:before {transform:translateX(26px);background-color:#0cb51a}
.dcs-c2096b8d-2:before {position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:white;transition:.4s;border-radius:50%}
.dcs-f3332da9-0 {position:relative;height:1em;max-height:1em;min-height:1em;width:calc(100% - 4px)}
.dcs-f3332da9-1 {position:absolute;height:.3em;max-height:.3em;min-height:.3em;width:100%;top:.35em;background-color:black;border-radius:1em;border-width:1px;border-style:solid;border-color:black;user-select:none}
.dcs-f3332da9-2 {position:absolute;height:.3em;max-height:.3em;min-height:.3em;width:1em;top:.25em;background-color:blue;border-radius:1em;border-width:2px;border-style:solid;border-color:blue}
.dcs-f3332da9-0:hover {cursor:pointer}
.dcs-f3332da9-0:hover .dcs-f3332da9-1 {top:.15em;height:.5em;max-height:.5em;min-height:.5em}
.dcs-f3332da9-0:hover .dcs-f3332da9-2 {top:-.05em;height:.7em;max-height:.7em;min-height:.7em}
.dcs-d9d8fbb3-0 {text-align:center;position:fixed;background:#0cb51a;bottom:0;left:0;right:0;min-height:32px;background-image:linear-gradient(#d11010, #d12525);z-index:1000}
.dcs-d9d8fbb3-1 {display:flex;flex-direction:row;justify-content:flex-start;align-items:center;width:100%}
.dcs-d9d8fbb3-2 {width:100%;padding-left:1em;padding-right:1em}
.dcs-d9d8fbb3-3 {font-size:1.25em;font-weight:bold;padding-top:.5em;padding-bottom:.5em}
.dcs-d9d8fbb3-4 {text-align:left;padding-bottom:.5em}
.dcs-d9d8fbb3-5 {justify-content:flex-end;padding-right:1em}
.dcs-d9d8fbb3-6 {display:none}
.dcs-b8b07fd0-0 {transform:rotate(0deg);width:32px;height:32px;position:fixed;top:-32px;left:calc(50% - 16px)}
.dcs-6a88c127-0 {box-sizing:border-box;width:100%;flex:1;flex-direction:row;justify-content:center;display:flex;padding:2em}
.dcs-0efdbccc-0 {display:inline-flex;flex-direction:column;justify-content:center;margin-top:25vh;margin-left:25%;width:50%;min-width:9em;height:50vh;min-height:6em;background-image:linear-gradient(#08B214, #078C12);border:solid 1px transparent;border-radius:1em;text-align:center;box-shadow:5px 5px 5px 5px rgba(0,0,0,.6)}
.dcs-0efdbccc-1 {text-align:center;margin-left:25%;width:50%}
.dcs-835de489-0 {display:inline-flex;flex-direction:column;justify-content:center;margin-top:25vh;margin-left:25%;width:50%;min-width:9em;height:50vh;min-height:6em;background-image:linear-gradient(#08B214, #078C12);border:solid 1px transparent;border-radius:1em;text-align:center;box-shadow:5px 5px 5px 5px rgba(0,0,0,.6)}
.dcs-835de489-1 {text-align:center;margin-left:auto;margin-right:auto;margin-bottom:1em;width:50%}
.dcs-835de489-2 {width:75%;margin-left:auto;margin-right:auto;margin-bottom:1em}
.dcs-835de489-3 {margin-bottom:1em;background:#AA2211;box-shadow:0 0 8px 8px #AA2211;margin-left:auto;margin-right:auto;width:66%}
.dcs-835de489-4 {display:none}
.dcs-8547c91b-0 {color:blue;cursor:pointer}
.dcs-8547c91b-1 {display:flex;flex-direction:column}
.dcs-8547c91b-2 {padding-top:.25em;padding-bottom:.25em;padding-right:1em;padding-left:1em;display:flex;border-bottom-width:1px;border-bottom-color:#000000;border-bottom-style:solid;flex-direction:column;justify-content:flex-start;align-items:flex-begin}
.dcs-8547c91b-3 {display:flex;flex-direction:row;justify-content:flex-start;align-items:center;width:100%}
.dcs-8547c91b-4 {padding-top:.25em;padding-bottom:.25em;padding-right:1em;padding-left:1em;border-bottom-width:1px;border-bottom-color:#000000;border-bottom-style:solid;display:flex;flex-direction:row;justify-content:flex-start;align-items:center}
.dcs-8547c91b-5 {flex-grow:1}
.dcs-8547c91b-6 {margin-left:1em;margin-right:1em;cursor:pointer}
.dcs-8547c91b-7 {}
.dcs-8547c91b-8 {margin-right:1em;border:1px solid black}
.dcs-8547c91b-9 {margin-right:1em;border:1px solid black}
.dcs-8547c91b-10 {display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-begin}
.dcs-8547c91b-11 {display:none}
.dcs-8547c91b-12 {min-width:.5em;width:.5em;border-color:#000000;border-width:1px;border-radius:5px 0 0 5px;height:62px;background:#9b111e}
.dcs-8547c91b-13 {min-width:.5em;width:.5em;border-color:#000000;border-width:1px;border-radius:5px 0 0 5px;height:62px;background:#0f52ba}
.dcs-8547c91b-14 {min-width:.5em;width:.5em;border-color:#000000;border-width:1px;border-radius:5px 0 0 5px;height:62px;background:#FFD700}
.dcs-8547c91b-15 {min-width:.5em;width:.5em;border-color:#000000;border-width:1px;border-radius:5px 0 0 5px;height:62px;background:#000000}
.dcs-8547c91b-16 {min-width:82px;min-height:62px;width:82px;height:62px;margin-right:0.5em}
.dcs-8547c91b-17 {width:100%;text-overflow:ellipsis;white-space:nowrap}
.dcs-8547c91b-18 {margin-left:0em;margin-right:1em}
.dcs-8547c91b-19 {cursor:pointer;color:blue}
.dcs-8547c91b-20 {text-align:center;background:#238e23;padding-left:2em;top:0}
.dcs-8547c91b-21 {padding-top:.5em;padding-bottom:.5em}
.dcs-8547c91b-22 {display:flex;flex-direction:row;justify-content:flex-start;align-items:center;width:100%}
.dcs-8547c91b-23 {display:block}
.dcs-8547c91b-24 {display:none}
.dcs-8547c91b-25 {flex-grow:1}
.dcs-8547c91b-26 {height:96vh;padding-top:2vh;width:90%;padding-left:5%}
.dcs-8547c91b-27 {cursor:zoom-out}
.dcs-8547c91b-28 {cursor:zoom-in;display:flex;justify-content:center;align-items:center;height:100vh}
.dcs-8547c91b-29 {max-width:100%;max-height:100%}
.dcs-8547c91b-30 {display:inline-flex;flex-direction:column;justify-content:center;margin-top:25vh;margin-left:25%;width:50%;min-width:9em;height:50vh;min-height:6em;background-image:linear-gradient(#08B214, #078C12);border:solid 1px transparent;border-radius:1em;text-align:center;box-shadow:5px 5px 5px 5px rgba(0,0,0,.6)}
.dcs-8547c91b-31 {}
.dcs-8547c91b-32 {display:none}
.dcs-8547c91b-2:hover {background:#0000FF22}
.dcs-8547c91b-4:hover {background:#0000FF22}
.dcs-f1fbc9ce-0 {width:100%}
.dcs-f1fbc9ce-1 {padding-left:1em;padding-right:1em}
.dcs-f1fbc9ce-2 {display:flex;flex-direction:column;margin-bottom:.25em;border-style:solid;border-width:1px;width:calc(100% - 2px)}
.dcs-f1fbc9ce-3 {height:1em;min-height:1em}
.dcs-f1fbc9ce-4 {height:33vh;min-height:64px}
.dcs-f1fbc9ce-5 {padding-left:1em;padding-right:1em}
.dcs-f1fbc9ce-6 {width:100%;max-width:100%;overflow-x:scroll}
.dcs-f1fbc9ce-7 {padding:2px;border:1px solid black;width:calc(100% - 6px);height:calc(100vh - 80px - 32px);max-height:calc(100vh - 80px - 32px);max-width:calc(100% - 6px);overflow-x:scroll}
.dcs-13113e22-0 {width:100%}
.dcs-13113e22-1 {z-index:2}
.dcs-13113e22-2 {position:relative;overflow-x:hidden;z-index:1}
.dcs-13113e22-3 {display:flex;flex-direction:row;justify-content:flex-start;align-items:center;width:100%;padding-top:.5em}
.dcs-13113e22-4 {display:flex;flex-direction:row;justify-content:center;align-items:center;width:100%}
.dcs-13113e22-5 {padding-left:1em;padding-right:1em}
.dcs-13113e22-6 {display:flex;flex-direction:row;margin-bottom:.25em;user-select:none;border-style:solid;border-width:1px;width:calc(100% - 2px);overflow:hidden}
.dcs-13113e22-7 {display:flex;flex-direction:column;margin-bottom:.25em;border-style:solid;border-width:1px;border:1px solid black;background-position:0px 0px, 10px 10px;background-size:20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%)}
.dcs-13113e22-8 {background:#00FF0022}
.dcs-13113e22-9 {font-size:110%}
.dcs-13113e22-10 {font-size:85%}
.dcs-13113e22-11 {display:flex;flex-direction:row;width:100%}
.dcs-13113e22-12 {flex:1 1 0;max-width:calc(100% - 1.5em - 2.5em - 1em - 20px)}
.dcs-13113e22-13 {text-align:right;margin-top:auto;margin-bottom:auto;padding-right:.5em;min-width:2em;max-width:2em}
.dcs-13113e22-14 {display:flex;justify-content:space-between;align-items:baseline}
.dcs-13113e22-15 {cursor:pointer;color:blue;padding-right:1em}
.dcs-13113e22-16 {cursor:ns-resize;width:1em;min-width:1em;background:linear-gradient(rgba(0,0,0,0) 30%, rgba(0,0,0,.3) 40%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 60%, rgba(0,0,0,0) 70%);}
.dcs-13113e22-17 {width:.25em;min-width:.25em}
.dcs-13113e22-18 {max-width:80%}
.dcs-13113e22-19 {max-width:calc(100% - 2em)}
.dcs-13113e22-20 {height:100%;overflow:hidden;width:100%;position:fixed}
.dcs-13113e22-21 {height:1em;min-height:1em}
.dcs-13113e22-22 {height:33vh;min-height:64px}
.dcs-13113e22-23 {margin-left:.5em;margin-right:.5em;margin-top:auto;margin-bottom:auto;padding-top:.3em;padding-bottom:.3em;right:0;cursor:pointer}
.dcs-13113e22-6:hover {background:#0000FF22}
.dcs-6349d093-0 {width:100%}
.dcs-6349d093-1 {display:flex;flex-direction:column;padding-left:1.1em;padding-bottom:.5em;border-bottom-style:solid;border-bottom-width:1px}
.dcs-6349d093-2 {display:flex;flex-direction:row;padding-left:1.1em;padding-bottom:.5em;border-bottom-style:solid;border-bottom-width:1px}
.dcs-f089c6c5-0 {width:100%}
.dcs-f089c6c5-1 {flex-grow:1}
.dcs-f089c6c5-2 {padding-left:1em;padding-right:1em}
.dcs-f089c6c5-3 {cursor:pointer}
.dcs-f089c6c5-4 {width:100%}
.dcs-f089c6c5-5 {padding-left:1em;padding-right:1em}
.dcs-f089c6c5-6 {display:flex;flex-direction:column;margin-bottom:.25em;border-style:solid;border-width:1px;width:calc(100% - 2px)}
.dcs-f089c6c5-7 {height:1em;min-height:1em}
.dcs-f089c6c5-8 {height:33vh;min-height:64px}
.dcs-f089c6c5-9 {display:flex;flex-direction:row;align-items:center}
.dcs-f089c6c5-10 {margin-left:.5em;flex-grow:1}
.dcs-f089c6c5-11 {margin-left:1em;margin-right:1em;box-shadow:1px 1px 5px #555 inset}
.dcs-f089c6c5-12 {display:flex;flex-direction:row;padding:1em;overflow-x:scroll}
.dcs-f089c6c5-13 {}
.dcs-f089c6c5-14 {display:none}
.dcs-f4bd2df9-0 {border:1px solid black;float:left;margin-right:2em;margin-left:2em;border-collapse:collapse}
.dcs-f4bd2df9-1 {text-align:center;min-width:4em;border-bottom:1px solid}
.dcs-f4bd2df9-2 {border-right:1px solid}
.dcs-f4bd2df9-3 {text-align:right;border-bottom:1px solid}
.dcs-f4bd2df9-4 {padding-right:1em;border-bottom:1px solid}
.dcs-f4bd2df9-5 {padding-left:.5em;padding-right:.5em;border-bottom:1px solid}
.dcs-f4bd2df9-6 {margin-left:1em;margin-right:1em}
.dcs-f4bd2df9-7 {margin-left:1em;margin-right:1em}
.dcs-f4bd2df9-8 {margin-left:1em;margin-right:1em}
.dcs-f4bd2df9-9 {list-style:none;display:inline-flex;flex-flow:row wrap;margin-block-start:.2em;margin-block-end:.2em;padding-inline-start:1em;padding-inline-end:1em}
.dcs-f4bd2df9-10 {border:2px solid black;border-radius:1em;padding-left:.5em;padding-right:.5em;padding-top:.2em;padding-bottom:.2em;background:#80808033;margin-top:.25em;margin-right:.5em;font-weight:bold}
.dcs-f4bd2df9-11 {border:2px solid #ebc334;background:#ebc33433}
.dcs-f4bd2df9-12 {border:2px solid #2194db;background:#2194db33}
.dcs-f4bd2df9-13 {border:2px solid #2331cc;background:#2331cc33}
.dcs-f4bd2df9-14 {border:2px solid #ed0cde;background:#ed0cde33}
.dcs-f4bd2df9-15 {border:2px solid #de6f14;background:#de6f1433}
.dcs-f4bd2df9-16 {border:2px solid #0f6106;background:#0f610633}
.dcs-f4bd2df9-17 {border:2px solid #960677;background:#96067733}
.dcs-f4bd2df9-18 {border:2px solid #634303;background:#63430333}
.dcs-f4bd2df9-19 {display:flex;flex-direction:row}
.dcs-f4bd2df9-20 {flex-grow:1}
.dcs-f4bd2df9-21 {display:flex;flex-direction:row}
.dcs-f4bd2df9-22 {border:1px solid black;max-width:200px;min-width:150px;padding:.5em;margin-right:.5em}
.dcs-f4bd2df9-23 {font-weight:bold;font-size:1.2em}
.dcs-f4bd2df9-24 {display:flex;flex-direction:row;border-top:4px solid black;border-bottom:4px solid black;padding-top:.25em;font-weight:bold}
.dcs-f4bd2df9-25 {display:flex;flex-direction:row;border-bottom:1px solid black;padding-top:.25em;font-weight:bold}
.dcs-f4bd2df9-26 {display:flex;flex-direction:row;border-bottom:4px solid black;padding-top:.25em;padding-left:1em}
.dcs-f4bd2df9-27 {display:flex;flex-direction:row;border-bottom:1px solid black;padding-top:.25em}
.dcs-f4bd2df9-28 {flex-grow:1}
.dcs-f4bd2df9-29 {}
.dcs-f4bd2df9-30 {border:1px solid black;border-collapse:collapse;table-layout:fixed}
.dcs-f4bd2df9-31 {text-align:right}
.dcs-f4bd2df9-29 sup {font-size:.8em;vertical-align:baseline;position:relative;top:-0.25em}
.dcs-f4bd2df9-29 sub {font-size:.8em;vertical-align:baseline;position:relative;top:0.2em}
@media only screen and (max-width: 768px) {
.dcs-f4bd2df9-19 {flex-direction:column}
.dcs-f4bd2df9-0 {float:none}
.dcs-f4bd2df9-21 {width:100%;justify-content:center}
.dcs-f4bd2df9-0 {margin-left:auto;margin-right:auto}
}
.dcs-f4bd2df9-30 tr:nth-child(even) {background-color:#eeeeee}
.dcs-f4bd2df9-30 td {border:1px solid black;white-space:nowrap}
.dcs-f4bd2df9-30 th {padding-left:.5em;padding-right:.5em}
.dcs-a4af2c4a-0 {width:100%}
.dcs-a4af2c4a-1 {flex-grow:1}
.dcs-a4af2c4a-2 {min-width:82px;min-height:62px;width:82px;height:62px;margin-right:0.5em}
.dcs-a4af2c4a-3 {z-index:2}
.dcs-a4af2c4a-4 {position:relative;overflow-x:hidden;z-index:1}
.dcs-a4af2c4a-5 {padding-left:1em;padding-right:1em;display:flex;flex-direction:column}
.dcs-a4af2c4a-6 {display:flex;flex-direction:column;margin-top:.5em;border-style:solid;border-width:1px;border:1px solid black;background-position:0px 0px, 10px 10px;background-size:20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%)}
.dcs-a4af2c4a-7 {margin-right:.25em;width:1.5em;max-width:1.5em}
.dcs-a4af2c4a-8 {cursor:ns-resize;width:1em;min-width:1em;height:60px;margin-left:.5em;margin-right:.5em;background:linear-gradient(rgba(0,0,0,0) 35%, rgba(0,0,0,.3) 43%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 57%, rgba(0,0,0,0) 65%);}
.dcs-a4af2c4a-9 {width:100%;display:flex;flex-direction:column}
.dcs-a4af2c4a-10 {border-style:solid;border-width:1px;margin-top:.5em;padding-right:.25em;display:flex;flex-direction:column;justify-content:flex-start;border-radius:4px;overflow:hidden;max-height:60px}
.dcs-a4af2c4a-11 {flex-grow:1;text-align:left;text-overflow:ellipsis;overflow:hidden;max-height:2.5em;line-height:1.25em;width:100%}
.dcs-a4af2c4a-12 {display:flex;width:100%;flex-direction:row;align-self:flex-start;text-align:left;max-height:1.25em;line-height:1.25em}
.dcs-a4af2c4a-13 {color:#7f7f7f;font-family:monospace;overflow:hidden;width:100%}
.dcs-a4af2c4a-14 {display:flex;flex-direction:row;justify-content:center;align-items:center;height:3em}
.dcs-a4af2c4a-15 {display:flex;flex-direction:row;justify-content:flex-start;align-items:center}
.dcs-a4af2c4a-16 {display:flex;flex-grow:1}
.dcs-a4af2c4a-17 {display:flex;height:100%;flex-direction:column;flex-grow:1}
.dcs-a4af2c4a-18 {display:flex;flex-direction:column;justify-content:flex-start;align-items:center}
.dcs-a4af2c4a-19 {padding-left:.25em;height:1em;width:1em;cursor:pointer}
.dcs-a4af2c4a-20 {padding:0px;cursor:pointer}
.dcs-a4af2c4a-21 {margin-right:1em}
.dcs-a4af2c4a-22 {margin-right:1em;border-left:1px solid black;border-right:1px solid black}
.dcs-a4af2c4a-23 {height:33vh;min-height:64px}
.dcs-a4af2c4a-24 {min-width:2em;text-align:center}
.dcs-a4af2c4a-25 {background-color:green}
.dcs-a4af2c4a-26 {background-color:#a0a0a0}
.dcs-a4af2c4a-27 {background-color:red}
.dcs-a4af2c4a-28 {}
.dcs-a4af2c4a-29 {display:none}
.dcs-a4af2c4a-30 {height:32px;position:fixed;top:50%;left:calc(50% - 16px)}
.dcs-a4af2c4a-31 {font-size:1.5em;flex-grow:1}
.dcs-a4af2c4a-32 {background:radial-gradient(#FFFFFF60, #FFFFFF00 75%)}
.dcs-a4af2c4a-10:hover {background:#0000FF22}
.dcs-71d9fd06-0 {}
.dcs-1e053eca-0 {margin:0;padding:0;overflow-y:scroll;overflow-x:hidden}
.dcs-1e053eca-1 {z-index:1000}
.dcs-1e053eca-2 {width:calc(100vw - 17px);margin-left:0;margin-top:0;margin-bottom:0;margin-right:0;padding:0}
.dcs-1e053eca-3 {width:100vw;margin-left:0;margin-top:0;margin-bottom:0;margin-right:0;padding:0}
.dcs-1e053eca-4 {width:100vw;margin-left:0;margin-top:0;margin-bottom:0;margin-right:0;padding:0}
.dcs-1e053eca-5 {margin-right:0px}
.dcs-1e053eca-6 {margin-left:300px}
.dcs-1e053eca-7 {}
.dcs-1e053eca-8 {display:none}
.dcs-1e053eca-9 {position:fixed;top:calc(50% - .5em);left:calc(50% - 3em);min-width:6em;line-height:1em;text-align:center}